{% extends "base.html" %}
{% block content %}
<section class="text-gray-600 body-font overflow-hidden">
    <div class="container mx-auto py-16 px-4 flex justify-center items-center">
        <div class="lg:w-3/4 mx-auto bg-white rounded-lg shadow-md p-8">
            <div class="p-8">
                <h2 class="text-sm text-indigo-500 uppercase tracking-widest">Lead</h2>
                <h1 class="text-gray-900 text-3xl font-medium mt-4">{{ lead.nombre }} {{ lead.apellido }}</h1>
                <div class="flex mt-4 justify-between">
                    <a href="{% url 'leads:detail' lead.pk %}" class="border-b-4 border-indigo-500 py-2 text-lg">Detalle</a>
                    <a href="{% url 'leads:lead-category-update' lead.pk %}" class="border-b-4 border-gray-300 py-2 text-lg">Categoría</a>
                    <a href="{% url 'leads:update' lead.pk %}" class="border-b-4 border-gray-300 py-2 text-lg">Modificar</a>
                </div>
                <div class="flex mt-4 border-t border-gray-200 py-2">
                    <span class="text-gray-500">E-mail:</span>
                    <span class="ml-auto text-gray-900">{{ lead.email }}</span>
                </div>
                <div class="flex border-t border-gray-200 py-2">
                    <span class="text-gray-500">Contacto:</span>
                    <span class="ml-auto text-gray-900">{{ lead.telefono }}</span>
                </div>
                <div class="flex border-t border-b border-gray-200 py-2">
                    <span class="text-gray-500">Estado:</span>
                    <span class="ml-auto text-gray-900">{{ lead.category }}</span>
                </div>
                <div class="flex border-t border-b border-gray-200 py-2">
                    <span class="text-gray-500">Agente de venta responsable:</span>
                    <span class="ml-auto text-gray-900">{{ lead.agente }}</span>
                </div>
                <div class="flex mt-6 justify-center">
                    <a href="{% url 'leads:list'%}" class="px-6 py-2 bg-indigo-500 hover:bg-indigo-600 text-white rounded-md focus:outline-none">
                        Regresa a la lista de Leads
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
