{% extends "base.html" %}
{% block content %}
<section class="text-gray-600 body-font">
    <div class="container p-10">
      <div class="w-full flex justify-center">
        <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
          <h2 class="text-sm title-font text-gray-500 tracking-widest">AGENTE DE VENTA</h2>
          <h1 class="text-gray-900 text-3xl title-font font-medium mb-4"> {{agent.user.username}}</h1>
          <div class="flex mb-4">
            <a class="flex-grow text-indigo-500 border-b-2 border-indigo-500 py-2 text-lg px-1">Descripción</a>
            <a href="{% url 'agents:agent-update' agent.pk %}" class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">Actualizar</a>
            <a href="{% url 'agents:agent-delete' agent.pk %}" class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">Borrar</a>
          </div>
          <div class="flex border-t border-gray-200 py-2">
            <span class="text-gray-500">E-mail:</span>
            <span class="ml-auto text-gray-900"> {{agent.email}} </span>
          </div>
          <div class="flex border-t border-gray-200 py-2">
            <span class="text-gray-500">Contacto:</span>
            <span class="ml-auto text-gray-900"> {{agent.telefono}} </span>
          </div>
          <div class="flex border-t border-b mb-6 border-gray-200 py-2">
            <span class="text-gray-500">Fecha de ingreso</span>
            <span class="ml-auto text-gray-900"> {{agent.fecha_ingreso}} </span>
          </div>
          <div class="flex mt-6 justify-center">
            <a href="{% url 'agents:agent-list'%}" class="px-6 py-2 bg-indigo-500 hover:bg-indigo-600 text-white rounded-md focus:outline-none">
                  Regresa a la lista de agentes
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
