{% extends "base.html" %}
{% block content %}
<section class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-col items-center justify-center">
    <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-3 object-cover object-center rounded" alt="Portada" src="/static/images/chiquimundi.png">
    <div class="w-full lg:w-2/3 md:w-1/2 flex flex-col items-center text-center">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">CHIQUIMUNDI CRM</h1>
      <div class="flex justify-center">
        {% if not request.user.is_authenticated %}
        <a href="{% url 'login' %}" class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg items-center justify-center m-5">Logear usuario</a>
        {% else %}
        <a href="{% url 'leads:list' %}"
          class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg items-center justify-center m-5">Lista de Leads</a>
        {% endif %}
        {% if request.user.is_autenticated %}
        <a href="{% url 'signup' %}"
          class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg items-center justify-center m-5">Registrar nuevo Usuario</a>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock content %}
