{% if request.user.is_authenticated %}
<div class="text-gray-600 body-font">
  <div class="fixed left-0 top-0 w-56 h-full p-4" style="background:#19293A;">
      <a href="{% url 'home' %}" class="flex items-center justify-center pb-4">
        <img class="w-32 h-32" src="/static/images/chiquimundi.png" alt="Logo Chiquimundi">
      </a>
      <ul>
        <li>
          {% if request.user.is_organisor %}
          <div class="mr-5">
            <a class="flex items-center py-2 px-4 text-gray-300 hover:bg-gray-950 hover:text-gray-100 rounded-md group-[.activate]:bg-gray-800 group-[.activate]:text-white" href="{% url 'leads:crear_articulo'%}">
              <i class="ri-add-circle-line"></i>
              <span class="ml-3 text-md">Crear Articulo</span>
            </a>
          </div>
          <div class="mr-5">
            <a class="flex items-center py-2 px-4 text-gray-300 hover:bg-gray-950 hover:text-gray-100 rounded-md group-[.activate]:bg-gray-800 group-[.activate]:text-white" href="{% url 'agents:agent-list' %}">
              <i class="ri-team-line"></i>
              <span class="ml-3 text-md">Agentes</span>
            </a>
            {% endif %}
          </div>
          <div class="mr-5">
            <a class="flex items-center py-2 px-4 text-gray-300 hover:bg-gray-950 hover:text-gray-100 rounded-md group-[.activate]:bg-gray-800 group-[.activate]:text-white" href="{% url 'leads:list' %}">
              <i class="ri-service-line"></i>
              <span class="ml-3 text-md">Leads</span>
            </a>
          </div>
          {% endif %}
        </li>
      </ul>
      
    <!-- condicionante -->
    {% if request.user.is_authenticated %}
    <div class="py-5">
      Logeado como: {{ request.user.username }}
      <a href="{% url 'logout' %}"
      class="ml-3 inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">Salir
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
      class="w-4 h-4 ml-1" viewBox="0 0 24 24">
      <path d="M5 12h14M12 5l7 7-7 7"></path>
    </svg>
    </a>
    {% else %}
    {% endif %}
  </div>
</div>
